body {
    margin-left: 100px;

}

#inputtext{
    font-size: 15px;
    padding: 10;
}

#outputtext{
    background-color: #ECECEC;
    font-size: 15px;
    padding: 10;
    height: 150px;
}

#consolelog{
    background-color: black;
    height: 200px;
    color: white;
    padding: 10;
}

.container-left{
    float: left;
    width: 50%;

}

.container-right{
    float: right;
    width: 50%;

}

.example{
    padding-top: 100px;
}

.description{
    font-size: 20px;
}
